.page {
  display: grid;
  position: relative;
  height: calc(100% - 12ch);
  width: calc(100% - 12ch);
  margin: 1ch;
  padding: 5ch;
  grid-template-rows: auto 7ch;
  transition: 0.5s;
  position: absolute;
  top: 0;
}
.main-page {
  width: calc(100% - 30ch);
}
main {
  background-color: var(--secondary-background);
  border-radius: 5ch;
  padding: 2ch;
}
main h1 {
  text-align: center;
}
